# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/
.venv/

# Ignore all dataset folders
dataset/
**/dataset/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db